
MatchPredictor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MatchPredictor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MatchPredictor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MatchPredictor/obj/Debug/MatchPredictor.pdb
MatchPredictor/obj/Debug/MatchPredictor.exe
MatchPredictor/obj/Debug/MatchPredictor.csprojResolveAssemblyReference.cache
MatchPredictor/obj/Debug/MatchPredictor.csproj.FileListAbsolute.txt
MatchPredictor/bin/Debug/MatchPredictor.vshost.exe.manifest
MatchPredictor/bin/Debug/MatchPredictor.vshost.exe.config
MatchPredictor/bin/Debug/MatchPredictor.vshost.exe
MatchPredictor/bin/Debug/MatchPredictor.pdb
MatchPredictor/bin/Debug/MatchPredictor.exe.config
MatchPredictor/bin/Debug/MatchPredictor.exe
MatchPredictor.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MatchPredictor.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MatchPredictor.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MatchPredictor.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
